@import url('destyle.css');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ccc;
}

nav h1{
    font-size: 1.5em;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 10px;
}

a:not(.logo):hover{
    color: blue;
    text-decoration: underline;
}



